.Third {
  color: white;
  display: flex;
  padding: 40px 0px;
  width: 100%;
  justify-content: space-around;
  background: #10222a;
}

.text2 {
  display: flex;
  justify-content: space-evenly;
  font-family: Gilroy;
  font-style: normal;
}
.text1 {
  margin-left: 100px;
  color: white;
  font-family: Gilroy;
}
.text p {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  width: 170px;
}
.text1 p {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}
.text {
}
.textimg {
  width: 70px;
  padding-top: 10px;
}

.text h3 {
  font-weight: bold;
  font-size: 14px;
  font-family: Gilroy;
  color: #fbd784;
}
.text1 h3 {
  font-weight: bold;
  font-size: 14px;
  font-family: Gilroy;
  color: #fbd784;
}
.first {
  display: flex;
}

.copy {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #555555;
  margin-top: 100px;
  text-align: center;
}
