.footer {
  width: 100%;
    background: #10222a;
}

.Third {
  color: white;
  display: flex;
  padding: 40px 0px;
  width: 90%;
  justify-content: space-evenly;
margin: 0 auto;
}

.text2 {
  display: flex;
  justify-content: space-evenly;
  font-family: Gilroy;
  font-style: normal;
  margin-right: 90px;
}
.text1 {
  margin-left: 100px;
  color: white;
  font-family: Gilroy;
 
}
.text p {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  width: 170px;
}
.text ul {
  font-family: Gilroy;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  list-style: none;
  padding: 0;
}
.text1 ul {
  padding: 0;
  list-style: none;
  font-family: Gilroy;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
}
.text {
  margin-right: 150px;
}
.textimg {
  width: 70px;
  padding-top: 10px;
}

.text h3 {
  font-weight: bold;
  font-size: 14px;
  font-family: Gilroy;
  color: #fbd784;
}
.text1 h3 {
  font-weight: bold;
  font-size: 14px;
  font-family: Gilroy;
  color: #fbd784;
}
.first {
  display: flex;
}

.copy {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #555555;
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 600px) {
  .third {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .text2 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
