.Header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow:auto;
}
.header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 25;
}
.sky {
  position: absolute;
  bottom: -100px;
  width: 1300px;
  right: 0px;
  bottom: -60px;
  z-index: 30;
}
.topshade {
  position: absolute;
  bottom: 0px;
  width: 1400px;
  right: 0px;
  bottom: -100px;
  z-index: 40;
}
.mountain {
  position: absolute;
  bottom: 0px;
  width: 1300px;
  right: 0px;
  top: 323px;
  bottom: -100px;
  z-index: 30;

}
.person {
  position: absolute;
  bottom: 0px;
  width: 1300px;
  right: 0;
  top: 545px;
  bottom: 0px;
  z-index: 40;
  overflow: hidden;
  height: 600px;
}
.shade {
  position: absolute;
  width: 1400px;
  right: 0;
  top: 855px;
  height: 350px;
  z-index: 100;
}
.Header_title {
  position: absolute;
  display: flex;
  z-index: 50;
  line-height: 4rem;
  top: 180px;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: white;
  justify-content: space-around;
}
.Header_text {
  margin: 0px 160px;
}
.Header_social {
  font-size: 0.7rem;
  padding-top: 30px;
}
.Header_socialte {
  transform: rotate(90deg);
}
.Header_social img {
  width: 15px;
}
.Header_top {
  display: flex;
  font-size: 0.9rem;
}
.Header_top p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.Header_line {
  margin-top: 10px;
  padding-right: 20px;
}
.Header_top_bold {
  text-transform: capitalize;
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  flex: none;
  width: 600px;
  order: 1;
  text-align: left;
  flex-grow: 0;
  margin: 0px 0px;
}
.Header_bottom {
  display: flex;
}
.Header_span {
  font-size: 0.7rem;
  margin: 0px;
}
.Header_bottom img {
  width: -10px;
  height: 20px;
  padding-left: 10px;
}
.Header_measure {
  padding-top: 30px;
  display: flex;
}
.Header_measure p {
  margin: 0;
  height: 34px;
}
.Header_meter {
  padding-right: 20px;
  list-style: none;
  font-size: 0.7rem;
  margin: 0;
}
.Header_meter li {
  height: 40px;
}
.Header_ruler {
  width: 2px;
  margin-top: 0px;
  height: 166px;
}
.Header_rulerthick {
  position: absolute;
  top: 31px;
  right: 42px;
  width: 2.1px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
