.main {
  width: 100%;
background-color: #0B1D26;
 overflow: auto;
 top: 600px;
 position: relative;
}
.content_text {
  width: 100%;
  color: white;
  padding: 30px;

}
.main_content {
  width: 70%;
  justify-content: center;
  text-align: center;
  margin:auto;
 padding-bottom:  100px;
 position: relative;
top: 0px;
z-index: 100;

}
.content_text p {
 text-align: justify;
  color: white;
  text-align: start;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  padding: 0px 120px;
}

.main_content1 {
  padding: 0rem;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
  justify-content: center;
  margin:  auto;
  
}
.content_top {
  display: flex;
   padding:0px  115px;

}
.content_top h4 {
  margin: 7px 0px;
  padding-left: 1rem;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 0.7rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}
.content_bottom {
  display: flex;
   padding: 35px;
   padding:0px  120px;
}
.content_bottom a {
  font-family: Gilroy;
  font-size: 0.7rem;
  color: #fbd784; 
  margin: 0;
}
.content_bottom img {
  width: 7px;
  height: 20px;
  margin-top: -2px;
  margin-left: 20px;
  transform: rotate(-90deg);
  color: #fbd784;
}
.content_bold {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 600;
  font-size: 3.1rem;
  flex: none;
  order: 1;
  text-align: start;
  flex-grow: 0;
  margin: 27px 0px;
  width: 460px;
 padding-left:112px;
}
@media (max-width: 600px) {
  .main_content1{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .content_bold {
    margin: 27px 0px;
  width: 200px;
    
  font-size: 1.5rem;
  }
  .content_line{
    width: 0px;
  }
  .content_top {
    font-size: 0.5rem;
    padding-left: 25px;
    text-align: start;
    flex-wrap: wrap;
  }
  .content_top h4{
    font-size: 0.7rem;
    padding-top: 12px;
    padding-left: 0px;
    
  }
  .content_sideimg{
      object-fit: cover;
  }
}