.nav {
  display: flex;
  width: 100%;
  margin: 0px 0px;
  font-family: 'Khula', sans-serif;
  padding: 0px 0px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.header {

  display: flex;
  width: 95%;
  padding-top: 20px;
  justify-content: space-between;
}
.brand {
  margin: 16px;
  cursor: pointer;
}

.brand img {
  width: 80px;
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.link {
  margin-top: 18px;
}
.link a {
  padding: 19px;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
 font-family: 'Khula', sans-serif;
  color: white;
  list-style: none;
  text-decoration: none;

}
.btn {
  color: white;
  font-size: 0.8rem;
  padding-top: 3px;
}
.btn:hover {
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(22, 59, 90);
}
.side {
  display: flex;
 margin: 20px;
  font-family: 'Khula', sans-serif;
}
.side a {
  font-weight: 500;
  font-size: 16px;
}
.search {
  color: black;
  width: 65%;
  padding-right: 5px;
}
 @media only screen and (max-width: 600px){
.nav{
   display: flex;
  width: 100%;
}
.header {

  display: flex;
  width: 95%;
  padding-top: 20px;
  justify-content: space-evenly;
}
.side{
 margin: 20px 0px 0px 0px;
 padding: 0;
}
.menu{
  padding: 0;
}
.link a {
  padding: 5px;
  font-size: 0.5rem;

}
.brand {
  margin: 20px 6px 6px 6px;
  cursor: pointer;
}
 }
