.nav {
  display: flex;
  width: 100%;
  margin: 0px 0px;
  font-family: Roboto;
  padding: 0px 0px;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
  display: flex;
  width: 95%;
  padding-top: 20px;
  justify-content: space-between;
}
.brand {
  margin: 16px;
  cursor: pointer;
}

.brand img {
  width: 80px;
}
.menu {
  list-style: none;
  display: flex;
  margin: 0;
}
.link {
  padding: 19px;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  font-family: Roboto;
  color: white;
}
.btn {
  color: white;
   font-size: 0.8rem;
   padding-top: 3px;
}
.btn:hover {
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(22, 59, 90);
}
.side {
  display: flex;
  padding: 20px;
}
.side a {
  font-weight: 500;
  font-size: 16px;
}
.search {
  color: black;
  width: 90%;
  padding-right: 5px;
}
//  @media only screen and (max-width: 600px){

//  }
